pandas==2.1.4
pyodbc==5.0.1
sqlalchemy==1.4.53
pymssql==2.2.11
openpyxl==3.1.2
xlrd==2.0.1
python-dotenv==1.0.0
requests==2.32.4
apache-airflow-providers-microsoft-mssql==3.6.0
apache-airflow-providers-postgres==5.8.0
apache-airflow-providers-redis==3.4.0
